<div class="container">

  <table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor='let environment of environments'>
        <td>{{environment.id}}</td>
        <td>{{environment.name}}</td>
        <td>
          <div class="btn-group">
            <button type="button" (click)="onEditEnvironment(environment.id)" class="btn btn-primary">Edit</button>
            <button type="button" (click)="onDeleteEnvironment(environment.id)" class="btn btn-danger">Delete</button>
          </div> 
        </td>
      </tr>
    </tbody>
  </table>
</div>